### Application Properties ###
application.properties
application-*.properties
!application-example.properties
!application.properties.example

### Environment ###
.env
.env.*
!.env.example

### IDE ###
.idea/
*.iml
.vscode/
.classpath
.project
.settings/

### Java ###
*.class
target/
dependency-reduced-pom.xml

### Logs ###
logs/
*.log

### Maven ###
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties